<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>18/09/09 12:43:52</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.BankBazaar@5ec0a365]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/09 12:43:53</td>   <td>841</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BankBazaar.setData()[pri:0, instance:tests.BankBazaar@5ec0a365]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/09/09 12:43:53</td>   <td>854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.BankBazaar@5ec0a365]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/09/09 12:43:53</td>   <td>865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;bankPM.launch()[pri:0, instance:tests.BankBazaar@5ec0a365]">&gt;&gt;launch</td> 
<td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/09 12:44:01</td>   <td>8608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankBazaar.bank()[pri:0, instance:tests.BankBazaar@5ec0a365]">bank</td> 
  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/09/09 12:45:12</td>   <td>80579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;bankPM.close()[pri:0, instance:tests.BankBazaar@5ec0a365]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/09/09 12:45:13</td>   <td>81280</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.BankBazaar@5ec0a365]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902919927</td>   <td></td> </tr>
</table>
