<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>18/09/01 13:17:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_EditLead2.EditLead(java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_EditLead2@71423665]">EditLead</td> 
  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/01 13:18:14</td>   <td>62794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_EditLead2.EditLead(java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_EditLead2@71423665]">EditLead</td> 
  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/09/01 13:16:58</td>   <td>-13596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_EditLead2@71423665]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/09/01 13:17:32</td>   <td>20844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_EditLead2@71423665]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/01 13:16:57</td>   <td>-14160</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_EditLead2.setData()[pri:0, instance:tests.TC001_EditLead2@71423665]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/01 13:16:57</td>   <td>-14757</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC001_EditLead2@71423665]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/01 13:16:58</td>   <td>-13603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC001_EditLead2@71423665]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/01 13:17:32</td>   <td>20843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC001_EditLead2@71423665]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/01 13:18:39</td>   <td>88106</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.TC001_EditLead2@71423665]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
</table>
